<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="header">
        <div class="leftArr"><i style="font-size: 30px;" class="fa-solid fa-arrow-left"></i></div>
        <div class="mid">
            <h2></i>No User Detail Found</h2>
        </div>
        <div class="right"><i style="font-size: 30px;" class="fa-solid fa-ellipsis"></i></div>
    </div>

    <div class="user">
        <div class="photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81iX4Mo49Z3oCPSx-GtgiMAkdDop2uVmVvw&s"
                alt="connection Error"></div>
        <div class="post">
            <div class="postN">
                <h4>Posts</h4>
            </div>
            <div class="Postn"></div>
        </div>
        <div class="follower">
            <div class="followerN">
                <h4>Followers</h4>
            </div>
            <div class="followern"></div>
        </div>
        <div class="following">
            <div class="followingN">
                <h4>Following</h4>
            </div>
            <div class="followingn"></div>
        </div>
    </div>
    <button>Follow</button>

    <div class="buttom">
        <div class="postI">
            <div><i class="fa-solid fa-film"></i></div>
            <div class="underline"></div>
        </div>
        <div class="followerlist">
            <div><i class="fa-solid fa-user"></i></i></div>
            <div class="underline1"></div>
        </div>
    </div>

    <div class="pst" style="height: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="noPost" style="display: flex; justify-content: center; align-items: center;"><i
                style="font-size: 100px;" class="fa-solid fa-camera"></i></div>
        <div>
            <h2 style="font-weight: bolder; font-size: 40px;  ">No Posts Yet</h2>
        </div>
    </div>
</body>

</html>